DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=

TABLE_NAME=Scripture
URL_COLUMN_NAME=Content
FILE_NAME_COLUMN_NAME=nama_file
TABLE_WHERE_COLUMN=Religion
TABLE_WHERE_VALUE=hindu

DIRECTORY_BASE="kitab/hindu"
FILE_NAME_PREFIX="kitab_hindu_"
FILE_NAME_HOST="https://pusaka-image.venturo.pro/migrasi"